
<h3>{{dashboardTitle}}</h3>
<div>
    <form [formGroup]="form">
        <label for="dropdown">Select an option:</label>
        <select
          id="dropdown"
          formControlName="dropdown"
          (change) = "onDropdownChange()"
        >
          <option value="John">John</option>
          <option value="Sharma">Sharma</option>
          <option value="Gabriel">Gabriel</option>
          <option value="Kamal">Vijay</option>
          <option value="Mohamad">Mohamad</option>

        </select>
      </form>

      <div *ngIf="fetchedData">
        <h3>Fetched Data:</h3>
        <pre>{{ fetchedData | json }}</pre>
      </div>
</div>
